<mat-card>
    <form (submit)="onSignup(SignupForm)" #SignupForm="ngForm"> 
        <mat-form-field>
            <input type="text" matInput placeholder="Name" name="name" ngModel #nameInput="ngModel" required>
            <mat-error *ngIf="nameInput.invalid">Please enter a Name</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Number" name="number" ngModel #numberInput="ngModel" required>
            <mat-error *ngIf="numberInput.invalid">Please enter a Number</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" placeholder="Email Address" name="email" ngModel #emailInput="ngModel" required email >
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" name="password" ngModel #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Signup</button>
    </form>
</mat-card>
<hr>